{% extends "layout.html.twig" %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/home.css">
{% endblock %}

{% block content %}
	<div class="main">
		<div class="d-flex flex-column align-items-center justify-content-center position-absolute top-50 start-50 translate-middle mt-4">
			<div class="display-4 text-white text-center mb-4 shadow">
				"Quand rien n'est prévu, tout est possible..."
			</div>
			<p class="fs-6 text-white">Cliquez sur le bouton pour commencer l'expérience</p>
			<div>
				<a class="btn btn-light btn-lg fs-5">Commencer</a>
			</div>
		</div>
	</div>
{% endblock %}
