{% extends "layout.html.twig" %}

{% block content %}

	<h2 class="text-center mb-3">De quel climat aimeriez-vous profiter ?</h2>
	<div class="container">
		<div class="row">
			<div class="col-4">
				<img src="assets/images/winter.jpeg">
				<p>Climat hivernal</p>
			</div>
			<div class="col-4">
				<img src="assets/images/winter.jpeg">
				<p>Climat hivernal</p>
			</div>
			<div class="col-4">
				<img src="assets/images/winter.jpeg">
				<p>Climat hivernal</p>
			</div>
		</div>
	</div>

	<h2 class="text-center mb-3">Préférez-vous un pays proche ou lointain ?</h2>
	<div class="container">
		<div class="row">
			<div class="col-4">
				<img src="assets/images/winter.jpeg">
				<p>Pays voisin</p>
			</div>
			<div class="col-4">
				<img src="assets/images/winter.jpeg">
				<p>Pays assez proche</p>
			</div>
			<div class="col-4">
				<img src="assets/images/winter.jpeg">
				<p>Pays lointain</p>
			</div>
		</div>
	</div>

	<h2 class="text-center mb-3">De quelles activités voulez-vous profiter ?</h2>
	<div class="container">
		<div class="row">
			<div class="col-4">
				<img src="assets/images/culture.png">
				<p>Culture</p>
			</div>
			<div class="col-4">
				<img src="assets/images/food.png">
				<p>Cuisine</p>
			</div>
			<div class="col-4">
				<img src="assets/images/farniente.jpeg">
				<p>Farniente</p>
			</div>
		</div>
	</div>

{% endblock %}
