{% extends "layout.html.twig" %}

{% block content %}
<h1>Guide pratique de survie : {{result}}</h1>

<h5>Capitale :</h5>
<h5>Population :</h5>
<h5>Météo :</h5>
<h5>Numéros d'urgence :</h5>
{% endblock %}