@font-face {
    font-family: Lato;
    src: url(../fonts/Lato-Light.ttf);
}

@font-face {
    font-family: Amaranth;
    src: url(../fonts/Amaranth-Regular.ttf);
}

:root {
    --tool-font: Lato;
    --content-font: Amaranth;
}